<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.group8.chesswithhats">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity"  android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CreateAccountActivity" android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity android:name=".HomeActivity" android:theme="@style/HomeTheme" android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name=".GameActivity" android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity android:name=".NewGameActivity" android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity android:name=".ManageFriendsActivity" android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity android:name=".ManageAccountActivity" android:configChanges="keyboardHidden|orientation|screenSize" />
    </application>

</manifest>